body {
	margin: 0;
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	width: 100%;
}

.headerNormal {
	color: white;
	transition: background-color 400ms linear;
}

.headerAfterScroll {
	background-color: #eeeeee;
	z-index: 200;
	color: black;
	transition: background-color 400ms linear;
}

#headerContainer {
	display: flex;
	justify-content: space-between;
}

#brand {
	display: flex;
	font-weight: bold;
	font-size: 30px;
	margin-left: 100px;
}

#brandPoint {
	font-size: 58px;
	line-height: 0.3;
}

.brandPointNormal {
	color: white;
}

.brandPointAfterScroll {
	color: #325aa5;
}

#headerMenu {
	margin-top: auto;
	margin-bottom: auto;
}

.headerButton {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18px;
}

#register {
	border-radius: 4px;
	margin-right: 100px;
}

.registerNormal {
	border: 2px solid white;
}

.registerAfterScroll {
	border: 2px solid rgb(50, 90, 165);
}

#categoryContainer {
	display: flex;
	justify-content: space-evenly;
	transition: all 0.4s ease-in-out;
	color: #555555;
}

.categoryContainerHidden {
	opacity: 0;
	height: 0;
	overflow: hidden;
	margin-top: 0px;
	border: 0;
}

.categoryContainerAfterScroll {
	opacity: 1;
	height: auto;
	margin-top: 20px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

#categoryContainer > a {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: auto;
	padding-right: auto;
	display: table-cell;
	width: 100%;
	text-align: center;
}

#categoryContainer > a:hover {
	text-decoration: underline;
}

#headerSearch {
	padding-top: 200px;
	padding-bottom: 200px;
}

#searchMainContainer {
	height: 500px;
	background-color: rgb(24, 30, 41);
	padding-bottom: 30px;
	padding-top: 78px;
}

#searchImgContainer {
	height: 500px;
	background-color: rgb(56, 56, 56);
	display: flex;
	justify-content: center;
	z-index: 0;
}

#searchImg {
	filter: grayscale(0.6);
	opacity: 0.15;
	width: 100%;
	object-fit: cover;
	z-index: 50;
}

#searchSecondContainer {
	position: absolute;
	top: 150px;
	left: 100px;
	z-index: 100;
}

#searchPara {
	color: white;
	font-size: 4em;
	margin-top: 0;
	margin-bottom: 40px;
}

#searchForm {
	background-color: white;
	height: 60px;
	border-radius: 8px;
	display: table-cell;
}

#searchForm > span {
	padding-left: 6px;
}

#searchForm > input {
	border: 0;
	height: 100%;
	width: 500px;
	font-size: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

#searchForm > input:focus {
	outline: none;
}

#searchForm > button {
	background-color: rgb(50, 90, 165);
	border: 0;
	height: 100%;
	font-size: 1em;
	padding-left: 25px;
	padding-right: 25px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	color: white;
}

#popularContainer {
	display: flex;
	color: white;
	font-size: 0.9em;
	margin-top: 15px;
}

#popularContainer > p {
	margin-right: 5px;
	text-decoration: underline;
	text-underline-offset: 3px;
}

#popularContainer > a {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 16px;
	border: 2px solid white;
	padding: 7px;
}

#tmp {
	height: 1000px;
}
